
.app {
  height: 100vh;
  background: rgb(208, 172, 223);
}

.question, .message {
  color: #5722ac
}

.question-head {
  color: #b793f1
}

.btn-container {
  height: 50vh;
}

.btn-container-2 {
  height: 73vh;
}

.button {
  position: relative;
  background-color: #5722ac;
  border: none;
  color: #f8f9fa;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

input[type=radio] {
  accent-color: #5722ac;
}

.container {
  height: 100%;
}
