/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* * {
    font-size: 1.1rem;
    font-weight: bold;
  } */

.app {
  height: 100vh;
  background: rgb(197, 138, 221);
}

/* .question {
  margin-top: 20px;
}

.question-body {
  padding: 1rem;
} */
